{% include 'prototype/common/header.html' %}

<body class="bootstrap5">

{% load static %}

{% include 'prototype/common/navbar.html' %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
<div class="container" style="max-width: 1152px; width: 1152px">
    <h1> {% block table_header %} {% endblock%} </h1>
    <div class="col-md-12">
        <div class="row table-responsive">
            {% block table%} {% endblock%}
        </div>
    </div>
    <div class="col-md-12">
        <p id="debug">{% block debug%} {% endblock%}</p>
    </div>
</div>

<div>
{% block modal%} {% endblock %}
</div>
</body>

<script type = "text/javascript">
    {% block custom_js %} {% endblock%}
</script>

</html>
