
{% extends 'base_table.html' %}
{% load bootstrap5 %}
{% load static %}

{% block page_title %} Create Data {% endblock %}

{% block table_header %} Data Tables {% endblock %}

{% block table %}

{% comment%}
This is a for loop that iterates through all the table definitions
{% endcomment%}

<table class="table table-striped">
    {# Set up a table header #}
    <thead>
        <tr>
            <td> # </td>
            <td> Table </td>
            <td> Description </td>
            <td> Rating </td>
            <td> Actions </td>
        </tr>
    </thead>
    <tbody hx-trigger="load, table_list_changed from:body" hx-get="{% url 'table-list-body' show='snippet' %}" hx-target="this">
    <tr>
        <td>There don't appear to be any tables yet.</td>
    </tr>
</tbody>
</table>
<div class="col  d-flex justify-content-end align-items-center">
    <button hx-get="{% url 'table-create' %}" hx-target="#dialog" class="btn btn-primary">
        Add a New Table
    </button>
</div>

{% endblock %}

{% block table_body %}

{% for table in object_list %}
<tr>
    {# Create an ID number based on the for loop iterations #}
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ table.name }}</td> 
    <td>{{ table.description }}</td>
    <td>{{ table.get_rating_display }}</td>
    <td>
        <a class="btn btn-warning" href= "/{{ table.author }}/tables/{{ table.slug }}/update">Edit</a>
        <button hx-target="#dialog" hx-get="/{{ table.author }}/tables/{{ table.slug }}/delete" class="btn btn-danger">
            Delete
        </button>
        {% comment %} We need to add hx-get and hx-target to open the modal, and add form_valid functions to the views
        <a class="btn btn-warning" href= "/{{ table.author }}/tables/{{ table.slug }}/update">Edit</a>
        <a class="btn btn-danger" href= "/{{ table.author }}/tables/{{ table.slug }}/delete">Delete</a>
        <button hx-get="{% url 'table-update' %}" hx-target="#dialog" class="btn btn-primary">
            Edit
        </button>
        <button hx-get="{% url 'table-delete' %}" hx-target="#dialog" class="btn btn-danger">
            Delete
        </button>
        {% endcomment %}
    </td>
</tr>

{% endfor %}

{% endblock %}

{% block modal %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog"  hx-target="this"></div>
</div>
{% endblock %}

<script src="{% static "dialog.js" %}"></script>

{% block custom_js %}

const modal = new bootstrap.Modal(document.getElementById("modal"))

htmx.on("htmx:afterSwap", (e) => {
    console.log("did afterSwap")
  // Response targeting #dialog => show the modal
  if (e.detail.target.id == "dialog") {
    modal.show()
  }
})

htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      console.log("hide modal")
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

htmx.on("hidden.bs.modal", () => {
console.log("innerHTML")
document.getElementById("dialog").innerHTML = ""
})

{% endblock%}


{% block debug %}
{% endblock %}
