{% extends 'base_table.html' %}
{% load bootstrap5 %}


{% block page_title %} Create Data {% endblock %}

{% block table_header %} Data Tables {% endblock %}

{% block table %}

{% comment%}
This is a for loop that iterates through all the table definitions
{% endcomment%}

{% for table in object_list %}
    {% if forloop.first %}
        {# Set up a striped table #}
        <table class="table table-striped">
            {# Set up a table header #}
            <thead>
                <tr>
                    <td> # </td>
                    <td> Table </td>
                    <td> Description </td>
                    <td> Fields </td>
                    <td> Actions </td>
                </tr>
            </thead>
            <tbody>
    {% endif %}
    <tr>
        {# Create an ID number based on the for loop iterations #}
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ table.name }}</td> 
        <td>{{ table.description }}</td>
        <td>
            {# Iterate through the fields for some context #}
            {% for field in table.fields.all %}
                {# TODO: Add a link in to each of the individual fields #}
                {{ field.name }}
                {# Comma separate things, but not the last field #}
                {% if not forloop.last and forloop.counter < 4 %} 
                    ,
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <a class="btn btn-warning" href= "/{{ table.author }}/tables/{{ table.slug }}/update">Edit</a>
            <a class="btn btn-danger" href= "/{{ table.author }}/tables/{{ table.slug }}/delete">Delete</a>
        </td>
    </tr>
    {% if forloop.last %}
    </tbody>
    {% endif %}
{% empty %}
    <ul>
        <li>No tables yet.</li>
    </ul>
{% endfor %}
</table>
<div class="col  d-flex justify-content-end align-items-center">
    <a class="btn btn-primary" href="/{{ user.username }}/tables/create">Add a New Table</a>
</div>
{% endblock %}

{% block modal %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
 </div>
{% endblock  %}

{% block debug %}
{% endblock %}
